@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-toggle {
  display: none;
}

.show-hide {
  display: block;
}

.side-margin {
  margin-left: 300px;
}

.sidebar__ul li {
  margin-bottom: 15px;
  font-size: 18px;
}

.sidebar__ul li a {
  display: inline-block;
  width: 100%;
  padding: 15px 20px;
  border-radius: 30px;
  transition: all 0.3s ease-in;
}

.sidebar__ul a:hover.active,
.sidebar__ul a.active {
  color: #fff;
  background-color: rgba(56, 108, 226);
}

.sidebar__ul a:hover {
  background-color: rgba(56, 108, 226, 0.3);
  color: white;
}

/* scrollbar */
.sidebar::-webkit-scrollbar {
  display: none;
}

/* .sidebar::-webkit-scrollbar {
  width: 0.8em;
  display: none;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #f3f3f4;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgb(214, 225, 248);
  border-radius: 100vw;
} */

.theme__active {
  background-color: rgb(243, 243, 243);
}

/* table row action styling */
.cancelled {
  background-color: rgba(237, 38, 53, 1);
}

.completed {
  background-color: rgba(36, 99, 242, 1);
}

.transit {
  background-color: rgba(47, 160, 114, 1);
}
