.card__grid {
  display: grid;
  gap: 2rem;
  grid-auto-rows: 180px;
}

@media (min-width: 640px) {
  .card__grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media (min-width: 1400px) {
  .card__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.card__grid .card:hover,
.card__grid .card:hover h2 {
  color: white;
  transition: color 0.2s;
  transition-delay: 0.2s;
}

.semi {
  border-radius: 150px 0 10px 0;
}

.card__grid .card:hover .semi {
  height: 100%;
  width: 100%;
  border-radius: unset;
  animation: growBox 0.3s ease-in;
}

@keyframes growBox {
  0% {
    height: 80px;
    width: 80px;
  }

  100% {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}

.theme__active {
  background-color: rgb(243, 243, 243);
}

/* tab and chart styling */
.tabs {
  padding: 10px 15px;
  border-radius: 5px;
}

.tabs:hover.tab__active,
.tab__active {
  background-color: rgba(56, 108, 226, 1);
  color: white;
}

.tabs:hover {
  background-color: rgba(56, 108, 226, 0.3);
  color: white;
}

.tab__content {
  display: none;
}

.active__content {
  display: block;
}
