.rush {
  justify-content: flex-end;
  display: flex;
  margin-top: 20px;
}

.batmanButton {
   width: 100px;
   height: 48px;
   text-align: center;
   font-size: 10px;
   border-width: 1px;
   boder-color: #4D44B5;
   color: 4D44B5;
   border-radius: 40px;
}

.titianButton {
    width: 100px;
   height: 48px;
   text-align: center;
   border-width: 1px;
   font-size: 10px;
   color: #FFFFFF;
  background: #4D44B5;
  border-radius: 40px;
}